name: Update Software RSS

on:
  schedule:
    - cron: '0 */12 * * *' # Toutes les 12 heures
  workflow_dispatch:      # Activation manuelle

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write    # Donne l'autorisation de pousser le fichier XML
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests beautifulsoup4 feedgen

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          # On commit seulement s'il y a des changements pour éviter les erreurs
          git diff --quiet && git diff --staged --quiet || (git commit -m "Mise à jour du flux RSS" && git push)
